import os
import sys
from pathlib import Path
from urllib import response
import pandas as pd
import numpy as np
from datetime import datetime, timedelta
import time
import re
from io import StringIO # treats strings like file)


from utils_file_handler import (
    read_sales_data,
    parse_transactions,
    validate_and_filter
)

import requests # to make API requests
import sys